body 
{
text-align: center;
margin:0;
}

#loading
{
z-index:1;
padding:50px 50px;
margin-right: auto;
margin-left: auto;
margin-top: 150px;
color:#fff;
opacity:0.8;
}

#navigation
{
float:right;
position:absolute;
right: -48px;}

#navigation ul
{
list-style: none;
margin: 0 px;
padding: 5px;
}

#navigation ul li
{
display: block;	
width: 100px;
background: gray;
font: 1.2em;
font-weight:bold;
border-width: 1px 0px 1px 1px;
border-style:solid;
boarder-color: #aed;
padding: 5px;
margin: 0px 0px 80px 0px;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
opacity:0.8
}

#navigation ul li a
{
text-decoration:none;
color:#000;
}

#content
{
margin: 0px;
}

#content h1
{
background-color: #ccc;
border-bottom: 1px solid #666;
margin-top:0px;
color: #222;
display: block;
font-size: 1.5em;
font-weight: bold;
padding: 10px 20px 10px 20px;
text-align: left;
text-decoration: none;
}

#content h2
{
display: block;
font-size: 1.2em;
font-weight: bold;
padding: 2px 20px;
margin:0px;
text-align: left;
}

#content h2.underline
{
margin-left:20px;
padding:0; 
width:80%;
height:2px;
background-color:#000;
overflow:hidden;
}

#content p
{
margin-left:20px;
font-size: 1em;
text-align: left;
}


